<!DOCTYPE html>
<html class="home">
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap">
  <title>Airport Logger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% flash.each do |name, msg| %>
  <p><%= msg %></p>
  <% end %>

  <div class="navbar-wrapper">
    <nav class="navbar">
    <ul class="top">
      <a class="nav-link" <%= active_link_to 'Home', home_path %> </a>
      <a class="nav-link" <%= active_link_to 'Airplane Logs', airplanes_path %> </a>
      <img src="https://yankeeairmuseum.org/wp-content/uploads/2019/02/air-logo2.png" class="logo">
      <a class="nav-link" <%= active_link_to 'Check In', new_airplane_path %> </a>
      <a class="nav-link" <%= active_link_to 'Developers', members_path %> </a>
    </ul>
    </nav>
  </div>

  <%= yield %>
</body>
</html>